<div>
  <%= form_with model: [ post, comment ], class: "flex-container" do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :post_id, value: post.id %>
    <div style="flex: 1"><%= form.text_field :text, class: 'p-2 form-control shadow-none' %></div>
    <div><%= form.submit "Comment", class: "p-2 small-button text-light" %></div>
  <% end %>
</div>