<div class="display-5 text-center fw-bold py-3 post-heading">Friends List</div>

<div class="container my-5">
  <% @friends.each do |friend| %>
    <div class="user-entry">
      <div class="col-2 h4"><%= image_tag friend.profile_photo, width: "30%", height: "30%" %></div>
      <div class="col-3 h4 my-3"><%= friend.name %></div>
      <div class="col-3 h4 my-3"><%= friend.email %></div>
      <div class="col-4">
        <%=link_to "Chat <i class='fa-solid fa-message ms-1'></i>".html_safe, conversation_path(find_conversation(current_user, friend).id), class: "ms-5 small-button bg-primary text-light d-inline" %>
        <%=link_to "Remove Friend", friend_path(friend.id), data: { "turbo-method": :delete }, 'data-turbo-stream': true,  class: "small-button bg-danger text-light d-inline me-5" %>
      </div>
    </div>
  <% end %>
</div>
