<div class="d-md-block d-none display-5 text-center fw-bold py-3 post-heading">Users</div>
<div class="d-md-none d-block h4 text-center fw-bold py-1 post-heading">Users</div>

<div>
  <%= form_tag(users_path, method: :get, class: "flex-container mx-5 my-3") do %>
    <div style="flex: 1"><%= text_field_tag(:search, params[:search], placeholder: "Search users.....", class: 'p-2 form-control shadow-none') %></div>
    <div><%= submit_tag("Search", class: "py-2 px-3 small-button text-light") %></div>
  <% end %>
</div>

<%= turbo_stream_from "users" %>
<%= turbo_frame_tag "users" do %>
  <div class="m-5">
    <% @users.each do |user| %>
      <div class="flex-container user-entry">
        <div style="flex: 0.2"><%= image_tag user.profile_photo, width: "50px" %></div>
        <div class="h4" style="flex: 0.2"><%= user.name %></div>
        <div class="h4 d-lg-block d-none" style="flex: 0.3"><%= user.email %></div>
        <% if current_user.friends.include?(user) %>
          <div class="float-end me-5"><%=link_to "Friends <i class='mx-2 fa-solid fa-user-check ms-3'></i>".html_safe, root_path, class: "small-button bg-success text-light disabled" %></div>
        <% elsif current_user.pending_friends.include?(user) %>
          <div class="float-end me-5"><%= link_to "Sent Request <i class='fa-solid fa-user-check ms-3'></i>".html_safe, root_path, class: "small-button bg-secondary text-light disabled" %></div>
        <% elsif user == current_user %>
          <div class="float-end me-5"><%= link_to "You <i class='fa-solid fa-user-large ms-3'></i>".html_safe, root_path, class: "small-button bg-secondary text-light disabled" %></div>
        <% else %>
          <div class="float-end me-5"><%= link_to "Add Friend <i class='fa-solid fa-user-plus ms-3'></i>".html_safe, create_friend_request_friend_requests_path(user_id: user.id), class: "small-button bg-warning text-dark" %></div>
        <% end %>
      </div>
    <% end %>
    <% unless params[:search].present? %>
      <div class="text-center my-3 pagy"><%== pagy_bootstrap_nav(@pagy) %></div>
    <% end %>
  </div>
<% end %>




