<div class="display-5 text-center fw-bold py-3 post-heading">Password Reset</div>

<div class="form-signin text-center mt-5">
  <div class="form">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field form-floating">
        <div class="fw-bold my-2"><span class='text-danger me-2'>*</span><%= f.label :password, "New Password" %><br/></div>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br/>
        <% end %>
        <div class="my-2"><%= f.password_field :password, autofocus: true, autocomplete: "new-password", :class => 'form-control shadow-none', required: true %></div>
        <% f.object.errors.full_messages_for(:password).each do |message| %>
          <div class="error-messages"><%= message %></div>
        <% end %>
      </div>

      <div class="field form-floating">
        <div class="fw-bold my-2"><span class='text-danger me-2'>*</span><%= f.label :password_confirmation, "Confirm new password" %><br/></div>
        <div class="my-2"><%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control shadow-none', required: true %></div>
        <% f.object.errors.full_messages_for(:password_confirmation).each do |message| %>
          <div class="error-messages"><%= message %></div>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", :class => "btn-lg w-100 my-2" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

