<div class="display-5 my-5 text-center">Friend Requests</div>

<div class="h3 my-5 text-center">Incoming Requests</div>

<div class="container my-5">
    <% @requests.where(friend: current_user).each do |request| %>
      <div class="user-entry">
        <div class="col-1 h4 my-3 text-center"><%= image_tag request.user.profile_photo, width: "30%", height: "30%" %></div>
        <div class="col-2 h4 my-3 text-center"><%= request.user.name %></div>
        <div class="col-3 h4 my-3 text-center"><%= request.user.email %></div>
        <div class="col-3 h4 my-3"><%= request.user.created_at.strftime("%d/%m/%Y, %I:%M %p") %></div>
        <div class="col-3 h4 my-3 text-center">
          <%= link_to "Accept", accept_friend_request_friend_requests_path(request_id: request.id), class: "small-button d-inline bg-success text-light" %>
          <%= link_to "Decline", friend_request_path(request), data: { "turbo-method": :delete }, class: "small-button d-inline bg-danger text-light" %>
        </div>
      </div>
    <% end %>
</div>

<div class="h3 my-5 text-center">Outgoing Requests</div>

<div class="container my-5">
    <% @requests.where(user: current_user).each do |request| %>
      <div class="user-entry">
        <div class="col-1 h4 my-3 text-center"><%= image_tag request.friend.profile_photo, width: "30%", height: "30%" %></div>
        <div class="col-2 h4 my-3 text-center"><%= request.friend.name %></div>
        <div class="col-3 h4 my-3 text-center"><%= request.friend.email %></div>
        <div class="col-3 h4 my-3"><%= request.friend.created_at.strftime("%d/%m/%Y, %I:%M %p") %></div>
        <div class="col-3 h4 my-3 text-center">
          <%= link_to "Delete", friend_request_path(request), data: { "turbo-method": :delete }, class: "small-button d-inline bg-danger text-light" %>
        </div>
      </div>
    <% end %>
</div>