<div class="display-5 text-center fw-bold py-3 post-heading">Friend Requests</div>

<%= turbo_stream_from "users" %>
<%= turbo_frame_tag "users" do %>

  <div class="container my-5">
    <% if @requests.where(friend: current_user).count > 0 %>
      <div class="h3 my-5 text-center">Incoming Requests</div>
      <% @requests.where(friend: current_user).each do |request| %>
        <div class="user-entry">
          <div class="col-1 h4 my-3 text-center"><i class="fa-solid fa-angles-right"></i></div>
          <div class="col-1 h4 my-3 text-center"><%= image_tag request.user.profile_photo, width: "30%", height: "30%" %></div>
          <div class="col-3 h4 my-3 text-center"><%= request.user.name %></div>
          <div class="col-3 h4 my-3 ms-5"><%= request.user.created_at.strftime("%d/%m/%Y, %I:%M %p") %></div>
          <div class="col-4 h4 my-3 text-center">
            <%= link_to "Accept", accept_friend_request_friend_requests_path(request_id: request.id, friend_id: request.user.id), class: "small-button d-inline bg-success text-light" %>
            <%= link_to "Decline", friend_request_path(request), data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class: "small-button d-inline bg-danger text-light" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="container my-5">
        <div class="h4 my-3 text-center">No Incoming Requests</div>
      </div>
    <% end %>
  </div>

  <% if @requests.where(user: current_user).count > 0 %>
    <div class="container my-5">
      <div class="h3 my-5 text-center">Outgoing Requests</div>
      <% @requests.where(user: current_user).each do |request| %>
        <div class="user-entry">
          <div class="col-1 h4 my-3 text-center"><i class="fa-solid fa-angles-left"></i></div>
          <div class="col-1 h4 my-3 text-center"><%= image_tag request.friend.profile_photo, width: "30%", height: "30%" %></div>
          <div class="col-3 h4 my-3 text-center"><%= request.friend.name %></div>
          <div class="col-3 h4 my-3 ms-5"><%= request.friend.created_at.strftime("%d/%m/%Y, %I:%M %p") %></div>
          <div class="col-4 h4 my-3 text-center">
            <%= link_to "Delete", friend_request_path(request), data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class: "small-button d-inline bg-danger text-light" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="container my-5">
      <div class="h4 my-3 text-center">No Outgoing Requests</div>
    </div>
  <% end %>
<% end %>