<div class="d-md-block d-none display-5 text-center fw-bold py-3 post-heading">Friend Requests</div>
<div class="d-md-none d-block h4 text-center fw-bold py-1 post-heading">Friend Requests</div>

<%= turbo_stream_from "users" %>
<%= turbo_frame_tag "users" do %>

  <div class="container my-5">
    <% if @requests.where(friend: current_user).count > 0 %>
      <div class="h3 my-5 text-center">Incoming Requests</div>
      <% @requests.where(friend: current_user).each do |request| %>
        <div class="user-entry flex-container">
          <div class="h4" style="flex: 0.2"><%= image_tag request.user.profile_photo, width: "50px" %></div>
          <div class="h4" style="flex: 0.2"><%= request.user.name %></div>
          <div class="h4 d-lg-block d-none" style="flex: 0.3"><%= request.user.created_at.strftime("%d/%m/%Y, %I:%M %p") %></div>
          <div class="float-end me-5">
            <%= link_to "Accept", accept_friend_request_friend_requests_path(request_id: request.id, friend_id: request.user.id), class: "small-button d-inline bg-success text-light my-5" %>
            <%= link_to "Decline", friend_request_path(request), data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class: "small-button d-inline bg-danger text-light my-5" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="container my-5">
        <div class="h4 my-3 text-center">No Incoming Requests</div>
      </div>
    <% end %>
  </div>

  <% if @requests.where(user: current_user).count > 0 %>
    <div class="container my-5">
      <div class="h3 my-5 text-center">Outgoing Requests</div>
      <% @requests.where(user: current_user).each do |request| %>
        <div class="user-entry flex-container">
          <div class="h4" style="flex: 0.2"><%= image_tag request.friend.profile_photo, width: "30%", height: "30%" %></div>
          <div class="h4" style="flex: 0.2"><%= request.friend.name %></div>
          <div class="h4 d-lg-block d-none" style="flex: 0.3"><%= request.friend.created_at.strftime("%d/%m/%Y, %I:%M %p") %></div>
          <div class="float-end me-5">
            <%= link_to "Delete", friend_request_path(request), data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class: "small-button d-inline bg-danger text-light" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="container my-5">
      <div class="h4 my-3 text-center">No Outgoing Requests</div>
    </div>
  <% end %>
<% end %>