<div class="mt-4">
  <h5 class="card-title d-inline fw-bold my-4">Comments Section</h5><br>
  <div class="my-3">
      <% post.comments.each do |comment| %>
          <div class="comment-box">
            <p class="card-text d-inline fw-bold my-3 fs-5"><%= comment.user.name %></p><br>
            <p class="card-text d-inline my-3 fs-5 "><%= comment.text %></p><br>
            <p class="card-text d-inline fs-6 fst-italic text-secondary my-3"><%= local_time_ago(comment.created_at) %></p>
            <br>
            <% if comment.user == current_user %>
              <%= link_to "Edit", edit_user_post_comment_path(current_user.id, comment.post.id, comment.id), :class => "no-deco d-inline text-danger" %>
              |
              <%= link_to "Delete", user_post_comment_path(current_user.id, comment.post.id, comment.id), data: { "turbo-method": :delete }, :class => "no-deco d-inline text-danger" %>
            <% end %>
          </div>
        <br>
      <% end %>
  </div>
  <hr>
  <p class="card-text d-inline fw-bold my-4">Add a comment</p>
  <%= render "posts/comment-form", post: post %>
</div>