<div class="card m-5" style="width: 90%;">
  <div class="card-body p-4">

    <div>
      <h5 class="card-title d-inline fw-bold my-4 fs-3"><%= post.user.name %></h5>
      <p class="card-text d-inline float-end fst-italic fs-6 text-secondary"><%= post.created_at.strftime("%I:%M %p, %d/%m/%Y") %></p>

      <hr>

      <p class="card-text my-4 fs-4"><%= post.text %></p>
      <% if post.image.attached? %>
        <div class="my-4"><%= image_tag post.image, width: "40%", height: "40%" %></div>
      <% end %>
    </div>

    <hr>

    <div class="mt-4">
      <div class="upvotes my-4 d-inline me-5">
        <%= link_to like_post_reactions_path(post_id: post.id, reaction_type: true), 'data-turbo-stream': true, class: 'no-deco' do %>
          <i class="fa-solid fa-thumbs-up fa-2x d-inline mx-2 text-success"></i>
        <% end %>

       <div class="d-inline" id='likes'>
         <div class="upvotes h2 mx-2 d-inline"><%= get_likes(post) %></div>
       </div>

        <%= link_to like_post_reactions_path(post_id: post.id, reaction_type: false), 'data-turbo-stream': true, class: 'no-deco' do %>
          <i class="fa-solid fa-thumbs-down fa-2x d-inline mx-2 text-danger"></i>
        <% end %>

        <div class="d-inline" id='dislikes'>
          <div class="upvotes h2 mx-2 d-inline"><%= get_dislikes(post) %></div>
        </div>
      </div>

      <div class="d-inline me-2 float-end">
        <% if post.user == current_user %>
          <%= link_to "Edit Post", edit_post_path(post.id), :class => "small-button me-2 bg-primary text-light" %>
          <%= link_to "Delete Post", post_path(post.id), data: { turbo: true, "turbo-method": :delete }, :class => "small-button bg-danger text-light" %>
        <% end %>
      </div>
    </div>

    <hr>

    <div class="mt-4">
      <h5 class="card-title d-inline fw-bold my-4">Comments Section</h5><br>

      <%= render "comments/comments", post: post %>

      <hr>

      <p class="card-text d-inline fw-bold my-4">Add a comment</p>
      <div class="m-0 p-0">
        <%= form_with model: [ post, post.comments.build ] do |form| %>
          <%= form.hidden_field :post_id, value: post.id %>
          <div class="d-inline mb-0 pb-0"><%= form.text_field :text, class: 'p-2 form-control shadow-none form-comment d-inline' %></div>
          <div class="d-inline mb-0 pb-0"><%= form.submit "Comment", class: "p-2 small-button text-light" %></div>
        <% end %>
      </div>

    </div>
  </div>
</div>



