<div class="mt-4">
  <div class="upvotes my-4 d-inline me-5">
    <%= link_to like_user_post_reactions_path(user_id: post.user.id, post_id: post.id, reaction_type: true), class: 'no-deco' do %>
      <i class="fa-solid fa-thumbs-up fa-2x d-inline mx-2 text-success"></i>
    <% end %>
    <div class="upvotes h2 mx-2 d-inline"><%= post.reactions.where(reaction_type: true).count %></div>
    <%= link_to dislike_user_post_reactions_path(user_id: post.user.id, post_id: post.id, reaction_type: false), class: 'no-deco' do %>
      <i class="fa-solid fa-thumbs-down fa-2x d-inline mx-2 text-danger"></i>
    <% end %>
    <div class="upvotes h2 mx-2 d-inline"><%= post.reactions.where(reaction_type: false).count %></div>
  </div>
  <div class="d-inline me-2 float-end">
    <% if post.user == current_user %>
      <%= link_to "Edit Post", edit_user_post_path(post.user.id, post.id), :class => "small-button me-2 bg-primary text-light" %>
      <%= link_to "Delete Post", user_post_path(post.user.id, post.id), data: { "turbo-method": :delete }, :class => "small-button bg-danger text-light" %>
    <% end %>
  </div>
</div>