<div class="display-6 text-center py-3 post-heading">Your Feed</div>

<%= turbo_stream_from "posts" %>
<%= turbo_frame_tag "posts" do %>
  <% @posts.each do |post| %>
    <div class="card m-5" style="width: 90%;">
      <div class="card-body p-4">
        <%= render "posts/post", post: post %>
        <hr>
        <%= turbo_stream_from "reactions" %>
        <%= turbo_frame_tag "reactions" do %>
          <%= render "posts/reactions", post: post %>
        <% end %>
        <hr>
        <%= turbo_stream_from "comments" %>
        <%= turbo_frame_tag "comments" do %>
          <%= render "posts/comments", post: post %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
