<div>
  <div class=""><%= link_to "Home", root_path, :class => "nav-button" %></div>
  <div class=""><%= link_to "New Post", new_post_path, :class => "nav-button" %></div>
  <div class=""><%= link_to "Users", users_path, :class => "nav-button" %></div>
  <div class=""><%= link_to "Friends", friends_index_path, :class => "nav-button" %></div>
  <div class=""><%= link_to "Friend Requests", friend_requests_path, :class => "nav-button" %></div>
  <div class=""><%= link_to "User Profile", current_user, :class => "nav-button" %></div>
  <div class=""><%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete, :class => "nav-button" %></div>
</div>