<% if user_signed_in? %>
  <div><%= link_to "<i class='mt-1 mx-3 fa-solid fa-house me-2'></i> Home".html_safe, root_path, class: "nav-button #{current_path(root_path)}" %></div>
  <div><%= link_to "<i class='mt-1 mx-3 fa-solid fa-clipboard me-2'></i> New Post".html_safe, new_post_path(current_user), class: "nav-button #{current_path(new_post_path(current_user))}" %></div>
  <div><%= link_to "<i class='mt-1 mx-3 fa-solid fa-users me-2'></i> Users".html_safe, users_path, class: "nav-button #{current_path(users_path)}" %></div>
  <div><%= link_to "<i class='mt-1 mx-3 fa-solid fa-user-group me-2'></i> Friends".html_safe, friends_path, class: "nav-button #{current_path(friends_path)}" %></div>
  <div><%= link_to friend_requests_path, class: "nav-button #{current_path(friend_requests_path)}" do %>
      <i class='mt-1 mx-3 fa-solid fa-user-plus me-2 align-middle'></i>
      <div class="align-middle">Friend Requests</div>
      <% if get_incoming_friend_requests > 0 %>
        <span class="notification-badge ms-2 mt-1"><%= get_incoming_friend_requests %></span>
      <% end %>
    <% end %></div>
  <div class=""><%= link_to "<i class='mt-1 mx-3 fa-solid fa-address-card me-2'></i> User Profile".html_safe, current_user, class: "nav-button #{current_path(current_user)}" %></div>
  <div class=""><%= link_to "<i class='mt-1 mx-3 fa-solid fa-right-from-bracket me-2'></i> Sign Out".html_safe, destroy_user_session_path, 'data-turbo-method': :delete, class: "nav-button #{current_path(destroy_user_session_path)}" %></div>
<% end %>