<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BrainX Media</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="d-none" id="current_user_id" data-user-id=<%= current_user.id %>></div>
    <% end %>

    <%= render "layouts/header"%>

    <div class="container-fluid d-flex flex-column">
      <div class="row">
        <div class="col-2 nav-bar bg-dark sticky-class">
          <%= render "layouts/nav"%>
        </div>

        <div class="col-10 m-0 p-0">
          <%= yield %>
        </div>

        <%= render_flash_messages %>
      </div>
    </div>
  </body>
</html>
