<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BrainX Media</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "layouts/header"%>
    <div class="row">
      <div class="col-1 nav-bar">
        <%= render "layouts/nav"%>
      </div>

      <div class="col-10">
        <%= yield %>
      </div>

      <div class="col-1">
       <div class="main-logo"><%= image_tag("Brainx_logo.png") %></div>
      </div>
    </div>
  </body>
</html>
